In [16]:
'''
Analyze.py
Takes a ticker symbol and displays:
 - Regression targets based on most recent p-e
 - Regression targets based on most recent yield, if applicable
 - Plots return distribution for similar historic p-e
 - Plots retrun distribution for similar historic yield, if applicable
'''

import pandas as pd
import sqlite3
import datetime
import numpy as np
import matplotlib
import sys
from sklearn.linear_model import LinearRegression
from scipy import stats
from sklearn import preprocessing
from sklearn.model_selection import KFold

from matplotlib import pyplot as plt
#plt.figure(figsize=(20,10))

kern_200 = [0.000001,0.000001,0.000001,0.000001,0.000001,0.000002,0.000002,0.000002,0.000003,0.000003,0.000004,0.000005,0.000006,0.000007,0.000009,0.00001,0.000012,0.000015,0.000017,0.000021,0.000024,0.000029,0.000034,0.00004,0.000047,0.000054,0.000063,0.000074,0.000086,0.000099,0.000115,0.000133,0.000153,0.000176,0.000202,0.000231,0.000264,0.000301,0.000342,0.000388,0.00044,0.000498,0.000562,0.000632,0.000711,0.000797,0.000892,0.000996,0.00111,0.001235,0.001371,0.001519,0.001679,0.001852,0.002038,0.002239,0.002455,0.002686,0.002932,0.003194,0.003473,0.003769,0.00408,0.004409,0.004754,0.005116,0.005494,0.005888,0.006297,0.00672,0.007157,0.007607,0.008068,0.00854,0.00902,0.009508,0.010002,0.010499,0.010999,0.011498,0.011996,0.012489,0.012975,0.013453,0.013919,0.014372,0.014809,0.015228,0.015626,0.016002,0.016353,0.016677,0.016972,0.017237,0.01747,0.01767,0.017835,0.017964,0.018058,0.018114,0.018132,0.018114,0.018058,0.017964,0.017835,0.01767,0.01747,0.017237,0.016972,0.016677,0.016353,0.016002,0.015626,0.015228,0.014809,0.014372,0.013919,0.013453,0.012975,0.012489,0.011996,0.011498,0.010999,0.010499,0.010002,0.009508,0.00902,0.00854,0.008068,0.007607,0.007157,0.00672,0.006297,0.005888,0.005494,0.005116,0.004754,0.004409,0.00408,0.003769,0.003473,0.003194,0.002932,0.002686,0.002455,0.002239,0.002038,0.001852,0.001679,0.001519,0.001371,0.001235,0.00111,0.000996,0.000892,0.000797,0.000711,0.000632,0.000562,0.000498,0.00044,0.000388,0.000342,0.000301,0.000264,0.000231,0.000202,0.000176,0.000153,0.000133,0.000115,0.000099,0.000086,0.000074,0.000063,0.000054,0.000047,0.00004,0.000034,0.000029,0.000024,0.000021,0.000017,0.000015,0.000012,0.00001,0.000009,0.000007,0.000006,0.000005,0.000004,0.000003,0.000003,0.000002,0.000002,0.000002,0.000001,0.000001,0.000001,0.000001,0.000001]
kern_50 =  [0,0.000001,0.000002,0.000005,0.000012,0.000027,0.00006,0.000125,0.000251,0.000484,0.000898,0.001601,0.002743,0.004514,0.00714,0.010852,0.015849,0.022242,0.029993,0.038866,0.048394,0.057904,0.066574,0.073551,0.078084,0.079656,0.078084,0.073551,0.066574,0.057904,0.048394,0.038866,0.029993,0.022242,0.015849,0.010852,0.00714,0.004514,0.002743,0.001601,0.000898,0.000484,0.000251,0.000125,0.00006,0.000027,0.000012,0.000005,0.000002,0.000001,0]

reits = ['CHP.UN', 'AP.UN' , 'AX.UN', 'BEI.UN', 'CAR.UN', 'CRR.UN', 'CUF.UN', 'D.UN', 'DRG.UN', 'EXE', 'GRT.UN', 'HR.UN', 'IIP.UN', 'KMP.UN', 'NVU.UN', 'REI.UN', 'SRU.UN']

yahoo_db = '/home/ian/Data/yahoo.db'
tmx_db = '/home/ian/Data/tmx.db'
advfn_db = '/home/ian/Data/advfn.db'

yahoo_database = sqlite3.connect(yahoo_db)
tmx_database = sqlite3.connect(tmx_db)
advfn_database = sqlite3.connect(advfn_db)
advfn_curs = advfn_database.cursor()

In [2]:




def process_row(symbol, row, df):
    if (row['close'] != row['close']) | (row['close'] == 'null'):
        df.at[row['date_parsed'], 'pe'] = np.NaN
        df.at[row['date_parsed'], 'dy'] = np.NaN
        return
    if row['eps'] == row['eps']:
        if row['eps'] == 0:
            df.at[row['date_parsed'], 'pe'] = np.NaN
        else:
            df.at[row['date_parsed'], 'pe'] = float(row['close']) / (4*row['eps'])
    
    if row['eps'] == row['eps']:
        if row['close'] == 0:
            df.at[row['date_parsed'], 'dy'] = np.NaN
        elif symbol in reits: #reits pay monthly
            df.at[row['date_parsed'], 'dy'] = 12* row['div'] / (float(row['close']) * row['split_adj'])
        else:
            df.at[row['date_parsed'], 'dy'] = 4* row['div'] / (float(row['close']) * row['split_adj'])

def custom_kernel(func, kern):
    '''
    Convolution of a function by a kernel.
    Kernel must be odd in length
    Function must be longer than kernel    
    '''
    if len(func) < len(kern):
        return func
    else:
        #midpoint of the kernel
        mid_kern = int((len(kern) + 1)/2)
        
    conv_func = np.zeros(len(func))
    
    for index, value in enumerate(func):
        
        ##TODO: this case is backwards I think
        if index < mid_kern:
            #go from kern[mid_kern] to end for zero
            dist_from_start = index -1
            kern_start = mid_kern - dist_from_start         
           
            sum = 0.0
            area = 0.0
            for i in range(kern_start, len(kern)):                
                sum += kern[i] * func[index + i - mid_kern]
                #need to correct for the area under the partial kernel being < 1
                area += kern[i]
            conv_func[index] = sum / area
            
        elif index > len(func) - mid_kern:         
            #go from zero to mid_kern + (distance to end of func)
            dist_to_end = len(func) - index + 1
            sum = 0.0
            area = 0.0
            for i in range(0, (mid_kern + dist_to_end -1)):
                sum += kern[i] * func[index + i - mid_kern]
                area += kern[i]
            conv_func[index] = sum / area   
            
        else:
            #sum of kernel * function over window of kernel length centered on func[index]
            sum = 0.0
            for kern_ind, kern_val in enumerate(kern):
                sum += kern_val * func[index + kern_ind - mid_kern]
            conv_func[index] = sum
        
    return conv_func

def return_to_date(row, today, last_close):
    elapsed_years = (today - row['date_parsed']).days / 365.25
    if elapsed_years == 0:
        return 1.0
    gain = last_close / row['close']
    ann_gain = gain ** (1/elapsed_years)
    return 100 * (ann_gain - 1.0)

  

def prune_data(df, divs, num_sig):
    '''
    Removes outliers from the dataframe
    Removes num_sig-sigma
    '''

    if divs:
        pe_mean = np.mean(df['pe'])
        pe_std = np.std(df['pe'])
        div_mean = np.mean(df['dy'])
        div_std = np.std(df['dy'])
        gain_mean = np.mean(df['tot_gain'])
        gain_std = np.std(df['tot_gain'])
        pe_upper = pe_mean + num_sig * pe_std
        pe_lower = pe_mean - num_sig * pe_std
        div_upper = div_mean + num_sig * div_std
        div_lower = div_mean - num_sig * div_std
        gain_upper = gain_mean + num_sig * gain_std
        gain_lower = gain_mean - num_sig * gain_std

        df_pruned = df[(df['pe'] < pe_upper) & (df['pe'] > pe_lower) & (df['dy'] < div_upper) & (df['dy'] > div_lower) & (df['pe'] > 0) & (df['tot_gain'] < gain_upper) & (df['tot_gain'] > gain_lower)].copy()
 
    else:
        pe_mean = np.mean(df['pe'])
        pe_std = np.std(df['pe'])

        pe_upper = pe_mean + num_sig * pe_std
        pe_lower = pe_mean - num_sig * pe_std
        
        gain_mean = np.mean(df['tot_gain'])
        gain_std = np.std(df['tot_gain'])
        
        gain_upper = gain_mean + num_sig * gain_std
        gain_lower = gain_mean - num_sig * gain_std

        df_pruned = df[(df['pe'] < pe_upper) & (df['pe'] > pe_lower) & (df['pe'] > 0) & (df['tot_gain'] < gain_upper) & (df['tot_gain'] > gain_lower)].copy()

    return df_pruned

def get_todays_metrics(df):
    dy = df.tail(1)['dy'][0]
    pe = df.tail(1)['pe'][0]
    price = df.tail(1)['close'][0]
    return dy, pe, price

def show_metrics_distribution(df, divs, symbol):
    #Today's metrics
    dy_today, pe_today, price_today = get_todays_metrics(df)

    if divs:
        pe_mean = np.mean(df['pe'])
        pe_std = np.std(df['pe'])
        div_mean = np.mean(df['dy'])
        div_std = np.std(df['dy'])
        gain_mean = np.mean(df[:'2017-06-06']['tot_gain']) 
        gain_std = np.std(df[:'2017-06-06']['tot_gain'])

        gain_upper = gain_mean + gain_std
        gain_lower = gain_mean - gain_std
        pe_upper = pe_mean + pe_std
        pe_lower = pe_mean - pe_std
        div_upper = div_mean + div_std
        div_lower = div_mean - div_std

        #average return from today's metrics
        div_high = dy_today * 1.05
        div_low = dy_today *0.95
        div_average_today = df[(df['dy'] < div_high) & (df['dy'] > div_low) & (df['date_parsed'] < '2017-06-06')]['tot_gain'].mean()

        #average return from today's metrics
        pe_high = pe_today * 1.05
        pe_low = pe_today * 0.95
        pe_average_today = df[(df['pe'] < pe_high) & (df['pe'] > pe_low) & (df['date_parsed'] < '2017-06-06')]['tot_gain'].mean()

        sql_text = 'UPDATE analysis SET gain_mean = ? WHERE symbol = ?'
        job = (gain_mean, symbol)
        advfn_curs.execute(sql_text, job)
        
        sql_text = 'UPDATE analysis SET gain_std = ? WHERE symbol = ?'
        job = (gain_std, symbol)
        advfn_curs.execute(sql_text, job)

        sql_text = 'UPDATE analysis SET pe_mean = ? WHERE symbol = ?'
        job = (pe_mean, symbol)
        advfn_curs.execute(sql_text, job)

        sql_text = 'UPDATE analysis SET pe_std = ? WHERE symbol = ?'
        job = (pe_std, symbol)
        advfn_curs.execute(sql_text, job)

        sql_text = 'UPDATE analysis SET dy_mean = ? WHERE symbol = ?'
        job = (div_mean, symbol)
        advfn_curs.execute(sql_text, job)

        sql_text = 'UPDATE analysis SET dy_std = ? WHERE symbol = ?'
        job = (div_std, symbol)
        advfn_curs.execute(sql_text, job)
        

    else:
        pe_mean = np.mean(df['pe'])
        pe_std = np.std(df['pe'])
        gain_mean = np.mean(df['tot_gain'])
        gain_std = np.std(df['tot_gain'])

        gain_upper = gain_mean + gain_std
        gain_lower = gain_mean - gain_std
        pe_upper = pe_mean + pe_std
        pe_lower = pe_mean - pe_std

        #average return from today's metrics
        pe_high = pe_today * 1.05
        pe_low = pe_today * 0.95
        pe_average_today = df[(df['pe'] < pe_high) & (df['pe'] > pe_low) & (df['date_parsed'] < '2017-06-06')]['tot_gain'].mean()

        sql_text = 'UPDATE analysis SET gain_mean = ? WHERE symbol = ?'
        job = (gain_mean, symbol)
        advfn_curs.execute(sql_text, job)
        
        sql_text = 'UPDATE analysis SET gain_std = ? WHERE symbol = ?'
        job = (gain_std, symbol)
        advfn_curs.execute(sql_text, job)

        sql_text = 'UPDATE analysis SET pe_mean = ? WHERE symbol = ?'
        job = (pe_mean, symbol)
        advfn_curs.execute(sql_text, job)

        sql_text = 'UPDATE analysis SET pe_std = ? WHERE symbol = ?'
        job = (pe_std, symbol)
        advfn_curs.execute(sql_text, job)


'''
df[(df['pe'] < 10.45) & (df['pe'] > 10.15) & (df['date_parsed'] < '2017-06-06')].hist(['tot_gain'], bins=40, figsize=(20,10))

'''

def predict_from_regression(df, divs, symbol):
    '''
    Trains a regression learner for pe-total gain and yield-total gain
    K-folds the data and prints r_squared for each fold
    Plots the most recent fold
    Gain is used up to 2017-05-06
    '''
    #Today's metrics
    dy_today, pe_today, price_today = get_todays_metrics(df)

    #outfile.write('Gain\n')

    #Prune to avoid nonsensical returns
    df_pruned = prune_data(df[:'2017-05-06'], divs, 3.0)

    X = pd.DataFrame(df_pruned['pe'])
    y = pd.DataFrame(df_pruned['tot_gain'])

    X.fillna(value = 0, inplace = True)
    y.fillna(value = 0, inplace = True)

    if len(X) == 0:
        return

    model = LinearRegression()
    model.fit(X,y)

    pred_val = model.predict(pe_today)
    sql_text = 'UPDATE analysis SET pe_prediction = ? WHERE symbol = ?'
    job = (pred_val[0][0], symbol)
    advfn_curs.execute(sql_text, job)


    #if we have dividends, predict the dy and combined
    if divs:
        X = pd.DataFrame(df_pruned['dy'])
        y = pd.DataFrame(df_pruned['tot_gain'])

        X.fillna(value = 0, inplace = True)
        y.fillna(value = 0, inplace = True)

        model2 = LinearRegression()
        model2.fit(X,y)

        pred_val = model2.predict(dy_today)
        sql_text = 'UPDATE analysis SET dy_prediction = ? WHERE symbol = ?'
        job = (pred_val[0][0], symbol)
        advfn_curs.execute(sql_text, job)

        X = pd.DataFrame(df_pruned[['pe', 'dy']])
        y = pd.DataFrame(df_pruned['tot_gain'])

        X.fillna(value = 0, inplace = True)
        y.fillna(value = 0, inplace = True)

        model3 = LinearRegression()
        model3.fit(X,y)

        pred_val = model3.predict(np.array([pe_today,dy_today]).reshape(1, -1))
        sql_text = 'UPDATE analysis SET multiple_prediction = ? WHERE symbol = ?'
        job = (pred_val[0][0], symbol)
        advfn_curs.execute(sql_text, job)



'''
advfn.db - uses google notation
tmx.db - uses google notation
yahoo.db 
    aav_prices uses yahoo notation
    divs uses yahoo notation
    splits uses yahoo notation
    tsx_prices uses google notation
    yahoo_indicators uses yahoo notation

'''

'\nadvfn.db - uses google notation\ntmx.db - uses google notation\nyahoo.db \n    aav_prices uses yahoo notation\n    divs uses yahoo notation\n    splits uses yahoo notation\n    tsx_prices uses google notation\n    yahoo_indicators uses yahoo notation\n\n'

In [17]:

sql_symbols = 'SELECT company_ticker FROM tsx_companies'
advfn_curs.execute(sql_symbols)    
symbols = advfn_curs.fetchall()
#symbols are now in Google notation

#for sym in symbols:

symbol = 'BEI.UN'
print('Analyze {0}'.format(symbol))
#outfile.write('\n\n==={0}=======\n'.format(symbol))
#print('   SQL queries...')

#in google notation
tmx_sql = '''SELECT date, eps FROM tmx_earnings WHERE symbol = "{0}"'''.format(symbol)
df_tmx = pd.read_sql_query(tmx_sql, tmx_database)
df_tmx.columns = ['date', 'eps']
df_tmx['date_parsed'] = df_tmx['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_tmx.drop(columns = 'date', inplace = True)

#channge to yahoo notation
aav_sql = '''SELECT Date, Close FROM aav_prices WHERE symbol = "{0}" AND close != "null"'''.format(symbol.replace('.','-'))
df_aav = pd.read_sql_query(aav_sql, yahoo_database)
df_aav.columns = ['date', 'close']
df_aav['date_parsed'] = df_aav['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_aav.drop(columns = 'date', inplace = True)

#in google notation
yahoo_prices_sql = '''SELECT Date, Close FROM tsx_prices WHERE symbol = "{0}" AND close != "null"'''.format(symbol)
df_y_price = pd.read_sql_query(yahoo_prices_sql, yahoo_database)
df_y_price.columns = ['date', 'close']
df_y_price['date_parsed'] = df_y_price['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_y_price.drop(columns = 'date', inplace = True)

#need to change to yahoo notation
divs_sql = '''SELECT Date, Dividends FROM divs WHERE symbol = "{0}"'''.format(symbol.replace('.', '-'))
df_div = pd.read_sql_query(divs_sql, yahoo_database) 
df_div.columns = ['date', 'div']
df_div['date_parsed'] = df_div['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_div.drop(columns = 'date', inplace = True)

#yahoo
yahoo_sql = '''SELECT Date, div_payout FROM yahoo_indicators WHERE symbol = "{0}"'''.format(symbol.replace('.','-'))
df_y_ind = pd.read_sql_query(yahoo_sql, yahoo_database)
df_y_ind.columns = ['date', 'div']
df_y_ind['date_parsed'] = df_y_ind['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_y_ind.drop(columns = 'date', inplace = True)

df_divs = pd.concat([df_div, df_y_ind])
df_divs.sort_values('date_parsed', inplace = True)
df_divs.drop_duplicates(subset='date_parsed', inplace = True)

df_price = pd.concat([df_y_price, df_aav])
#print('Before: ' + str(df_price.shape[0]))

#print('After: ' + str(df_price.shape[0]))
#df_price

#DB has yahoo notation
split_sql = '''SELECT date, total_adjustment FROM splits WHERE symbol = "{0}"'''.format(symbol.replace('.','-'))
df_split = pd.read_sql_query(split_sql, yahoo_database) 
df_split.columns = ['date', 'split_adj']
df_split['date_parsed'] = df_split['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_split.drop(columns = 'date', inplace = True)

#print('   complete!')

#print('   Merge dataframes...')
df = df_price.join(df_tmx.set_index('date_parsed'), on = 'date_parsed', how = 'outer', sort = True)

df = df.join(df_divs.set_index('date_parsed'), on = 'date_parsed', how = 'outer', sort = True)

df.fillna(method='ffill', inplace = True)

#df_price.drop_duplicates(subset='date_parsed', inplace = True)

df = df.join(df_split.set_index('date_parsed'), on = 'date_parsed', how = 'outer', sort = True)
df.set_index(df['date_parsed'], inplace= True)

#split adjustment for current date is 1.0 -- backfill missing values

df.iloc[-1, df.columns.get_loc('split_adj')] = 1.0
df['split_adj'].fillna(method='bfill', inplace = True)
df.tail(5)

Analyze BEI.UN

             close date_parsed  eps  div  split_adj
date_parsed
2019-05-17   42.81  2019-05-17  0.0  1.0        1.0
2019-05-21   42.69  2019-05-21  0.0  1.0        1.0
2019-05-22   42.86  2019-05-22  0.0  1.0        1.0
2019-05-23   42.73  2019-05-23  0.0  1.0        1.0
2019-05-24   42.19  2019-05-24  0.0  1.0        1.0

In [18]:
df

             close date_parsed    eps  div  split_adj
date_parsed
1997-10-17     NaN  1997-10-17  0.105  NaN        1.0
1998-10-23     NaN  1998-10-23  0.130  NaN        1.0
1999-01-14     NaN  1999-01-14  0.070  NaN        1.0
1999-04-16     NaN  1999-04-16  0.040  NaN        1.0
1999-08-13     NaN  1999-08-13  0.080  NaN        1.0
1999-10-15     NaN  1999-10-15  0.110  NaN        1.0
2000-01-19     NaN  2000-01-19  0.020  NaN        1.0
2000-04-14     NaN  2000-04-14  0.080  NaN        1.0
2000-08-03     NaN  2000-08-03  0.010  NaN        1.0
2000-10-27     NaN  2000-10-27 -0.020  NaN        1.0
2001-05-23     NaN  2001-05-23  0.100  NaN        1.0
2002-02-20     NaN  2002-02-20 -0.070  NaN        1.0
2002-08-15     NaN  2002-08-15  0.080  NaN        1.0
2002-11-15     NaN  2002-11-15  0.070  NaN        1.0
2003-02-21     NaN  2003-02-21  0.040  NaN        1.0
2003-05-13     NaN  2003-05-13  0.020  NaN        1.0
2003-11-17     NaN  2003-11-17  0.090  NaN        1.0
2004-02-16     NaN  2004-02-16 -0.030  NaN        1.0
2004-05-13     NaN  2004-05-13  0.320  NaN        1.0
2004-11-15     NaN  2004-11-15  0.060  NaN        1.0
2005-02-17     NaN  2005-02-17  0.330  NaN        1.0
2005-08-11     NaN  2005-08-11  0.350  NaN        1.0
2005-11-10     NaN  2005-11-10  0.410  NaN        1.0
2006-02-16     NaN  2006-02-16  0.340  NaN        1.0
2006-05-11     NaN  2006-05-11  0.320  NaN        1.0
2006-08-10     NaN  2006-08-10  0.400  NaN        1.0
2006-11-13     NaN  2006-11-13  0.480  NaN        1.0
2007-02-16     NaN  2007-02-16  0.440  NaN        1.0
2007-05-11     NaN  2007-05-11  0.400  NaN        1.0
2007-08-10     NaN  2007-08-10  0.530  NaN        1.0
...            ...         ...    ...  ...        ...
2019-04-11   40.25  2019-04-11  0.540  NaN        1.0
2019-04-12   40.60  2019-04-12  0.540  NaN        1.0
2019-04-15   40.26  2019-04-15  0.540  NaN        1.0
2019-04-16   39.82  2019-04-16  0.540  NaN        1.0
2019-04-17   39.18  2019-04-17  0.540  NaN        1.0
2019-04-18   39.51  2019-04-18  0.540  NaN        1.0
2019-04-22   39.10  2019-04-22  0.540  NaN        1.0
2019-04-23   38.91  2019-04-23  0.540  NaN        1.0
2019-04-24   38.86  2019-04-24  0.540  NaN        1.0
2019-04-25   38.67  2019-04-25  0.540  NaN        1.0
2019-04-26   38.73  2019-04-26  0.540  NaN        1.0
2019-04-29   38.25  2019-04-29  0.540  NaN        1.0
2019-04-30   38.89  2019-04-30  0.540  NaN        1.0
2019-05-01   39.05  2019-05-01  0.540  NaN        1.0
2019-05-02   38.79  2019-05-02  0.540  NaN        1.0
2019-05-03   38.85  2019-05-03  0.540  1.0        1.0
2019-05-06   38.97  2019-05-06  0.540  1.0        1.0
2019-05-07   39.04  2019-05-07  0.540  1.0        1.0
2019-05-08   38.82  2019-05-08  0.540  1.0        1.0
2019-05-09   38.88  2019-05-09  0.540  1.0        1.0
2019-05-10   39.25  2019-05-10  0.540  1.0        1.0
2019-05-13   39.35  2019-05-13  0.540  1.0        1.0
2019-05-14   39.14  2019-05-14  0.540  1.0        1.0
2019-05-15   39.79  2019-05-15  0.000  1.0        1.0
2019-05-16   42.64  2019-05-16  0.000  1.0        1.0
2019-05-17   42.81  2019-05-17  0.000  1.0        1.0
2019-05-21   42.69  2019-05-21  0.000  1.0        1.0
2019-05-22   42.86  2019-05-22  0.000  1.0        1.0
2019-05-23   42.73  2019-05-23  0.000  1.0        1.0
2019-05-24   42.19  2019-05-24  0.000  1.0        1.0

[258 rows x 5 columns]

In [13]:


#this is for current quarter only - go back and fill the TTM on df_earnings and df_divs
df['pe'] = 0.0
df['dy'] = 0.0

#print('   complete!')
#print('   Calculate yield and eps...')


df['close'].fillna(method = 'ffill', inplace = True)
df.apply((lambda x: process_row(symbol, x, df)), axis = 1)

df['pe'].fillna(method = 'ffill', inplace = True)
#df['close'].fillna(method = 'bfill', inplace = True)

#print('   complete!')
#print('   Calculate returns...')

df['avg_50'] = custom_kernel(df['close'], kern_50)
df['avg_200'] = custom_kernel(df['close'], kern_200)

today = datetime.datetime.today()
last_close = df.tail(1)['avg_200'][0]

#print('Elapsed: ' + str((today - df.head(1)['date_parsed'][0]).days / 365.25 ) + ' years')

df['cap_gain'] = df.apply(lambda x: return_to_date(x, today, last_close), axis = 1) 
if (df.tail(1)['dy'][0] > 0):
    divs = True
    #print('Found a dividend yield')
    df['tot_gain'] = df['cap_gain'] + (df['dy'] * 100)
else:
    divs = False
    #print('No dividend yield found')
    df['tot_gain'] = df['cap_gain']

#print('  complete!')

#Today's metrics
dy_today, pe_today, price_today = get_todays_metrics(df)



predict_from_regression(df, divs, symbol)
show_metrics_distribution(df, divs, symbol)
advfn_database.commit()  

#outfile.close()

advfn_database.close()

In [14]:
df

,close,date_parsed,eps,div,split_adj,pe,dy,avg_50,avg_200,cap_gain,tot_gain
date_parsed,,,,,,,,,,,
1994-11-03,NaN,1994-11-03,0.37,NaN,1.0,NaN,NaN,12.396878,12.710220,NaN,NaN
1995-01-12,12.25,1995-01-12,0.37,NaN,1.0,8.277027,NaN,12.393764,12.721669,10.696317,NaN
1995-01-13,12.38,1995-01-13,0.37,NaN,1.0,8.364865,NaN,12.388826,12.733409,10.649634,NaN
1995-01-16,12.63,1995-01-16,0.37,NaN,1.0,8.533784,NaN,12.381968,12.745433,10.562627,NaN
1995-01-17,12.38,1995-01-17,0.37,NaN,1.0,8.364865,NaN,12.373234,12.757744,10.654669,NaN
1995-01-18,12.50,1995-01-18,0.37,NaN,1.0,8.445946,NaN,12.362867,12.770341,10.612106,NaN
1995-01-19,12.63,1995-01-19,0.37,NaN,1.0,8.533784,NaN,12.351391,12.783223,10.566372,NaN
1995-01-20,12.38,1995-01-20,0.37,NaN,1.0,8.364865,NaN,12.339680,12.796386,10.658449,NaN
1995-01-23,12.13,1995-01-23,0.37,NaN,1.0,8.195946,NaN,12.328998,12.809832,10.755023,NaN
1995-01-24,12.00,1995-01-24,0.37,NaN,1.0,8.108108,NaN,12.321014,12.823551,10.805344,NaN
1995-01-25,12.25,1995-01-25,0.37,0.1000,1.0,8.277027,0.032653,12.317734,12.837543,10.712771,13.978078
1995-01-26,12.25,1995-01-26,0.37,0.1000,1.0,8.277027,0.032653,12.321362,12.851800,10.714039,13.979345
1995-01-27,12.25,1995-01-27,0.37,0.1000,1.0,8.277027,0.032653,12.334065,12.866319,10.715307,13.980613
1995-01-30,12.25,1995-01-30,0.37,0.1000,1.0,8.277027,0.032653,12.357680,12.881090,10.719114,13.984420
1995-01-31,12.13,1995-01-31,0.37,0.1000,1.0,8.195946,0.032976,12.393407,12.896105,10.765214,14.062823
1995-02-01,11.75,1995-02-01,0.37,0.1000,1.0,7.939189,0.034043,12.441527,12.911358,10.911579,14.315834
1995-02-02,12.25,1995-02-02,0.29,0.1000,1.0,10.560345,0.032653,12.501227,12.926839,10.722922,13.988229
1995-02-03,12.75,1995-02-03,0.29,0.1000,1.0,10.991379,0.031373,12.570575,12.942535,10.542126,13.679381
1995-02-06,12.75,1995-02-06,0.29,0.1000,1.0,10.991379,0.031373,12.646661,12.958432,10.545871,13.683126
1995-02-07,12.75,1995-02-07,0.29,0.1000,1.0,10.991379,0.031373,12.725925,12.974522,10.547120,13.684375
1995-02-08,13.50,1995-02-08,0.29,0.1000,1.0,11.637931,0.029630,12.804581,12.990786,10.288597,13.251560
1995-02-09,13.50,1995-02-09,0.29,0.1000,1.0,11.637931,0.029630,12.879106,13.007212,10.289814,13.252777
1995-02-10,13.25,1995-02-10,0.29,0.1000,1.0,11.422414,0.030189,12.946674,13.023783,10.375937,13.394805
1995-02-13,13.13,1995-02-13,0.29,0.1000,1.0,11.318966,0.030465,13.005469,13.040481,10.420987,13.467446
1995-02-14,13.25,1995-02-14,0.29,0.1000,1.0,11.422414,0.030189,13.054819,13.057290,10.380852,13.399720
1995-02-15,13.25,1995-02-15,0.29,0.1000,1.0,11.422414,0.030189,13.095127,13.074189,10.382082,13.400950
1995-02-16,13.00,1995-02-16,0.29,0.1000,1.0,11.206897,0.030769,NaN,13.091161,10.469966,13.546889
1995-02-17,13.00,1995-02-17,0.29,0.1000,1.0,11.206897,0.030769,13.154118,13.108183,10.471207,13.548130
1995-02-20,12.88,1995-02-20,0.29,0.1000,1.0,11.103448,0.031056,13.176465,13.125235,10.517164,13.622754
1995-02-21,13.38,1995-02-21,0.29,0.1000,1.0,11.534483,0.029895,13.196417,13.142295,10.345047,13.334584
...,...,...,...,...,...,...,...,...,...,...,...
2019-04-11,145.80,2019-04-11,4.78,1.0375,1.0,7.625523,0.028464,146.795509,146.241932,-0.206884,2.639481
2019-04-12,145.57,2019-04-12,4.78,1.0375,1.0,7.613494,0.028509,147.020632,146.247083,1.075459,3.926322
2019-04-15,146.58,2019-04-15,4.78,1.0375,1.0,7.666318,0.028312,147.254618,146.251483,-4.750300,-1.919081
2019-04-16,147.44,2019-04-16,4.78,1.0375,1.0,7.711297,0.028147,147.498417,146.254983,-9.694329,-6.879624
2019-04-17,148.06,2019-04-17,4.78,1.0375,1.0,7.743724,0.028029,147.750492,146.257430,-13.310419,-10.507502
2019-04-18,149.55,2019-04-18,4.78,1.0375,1.0,7.821653,0.027750,148.007067,146.258695,-21.358947,-18.583955
2019-04-22,149.14,2019-04-22,4.78,1.0375,1.0,7.800209,0.027826,148.262743,146.258663,-21.265367,-18.482746
2019-04-23,150.32,2019-04-23,4.78,1.0375,1.0,7.861925,0.027608,148.511115,146.257203,-28.163730,-25.402953
2019-04-24,149.76,2019-04-24,4.78,1.0375,1.0,7.832636,0.027711,148.745134,146.254215,-25.880690,-23.109590
2019-04-25,149.07,2019-04-25,4.78,1.0375,1.0,7.796548,0.027839,148.956980,146.249602,-22.596868,-19.812941
2019-04-26,148.58,2019-04-26,4.78,1.0375,1.0,7.770921,0.027931,149.137475,146.243294,-20.197312,-17.404204
2019-04-29,149.12,2019-04-29,4.78,1.0375,1.0,7.799163,0.027830,149.275264,146.235221,-25.703727,-22.920733
2019-04-30,147.46,2019-04-30,4.78,1.0375,1.0,7.712343,0.028143,149.356329,146.225317,-14.502078,-11.687755
2019-05-01,149.43,2019-05-01,4.78,1.0375,1.0,7.815377,0.027772,149.364152,146.213529,-29.470398,-26.693177
2019-05-02,152.09,2019-05-02,4.78,1.0375,1.0,7.954498,0.027286,149.281063,146.199820,-46.253293,-43.524646
2019-05-03,154.57,2019-05-03,4.78,4.1500,1.0,8.084205,0.107395,149.090601,146.184152,-59.053980,-48.314509
2019-05-06,152.51,2019-05-06,4.78,4.1500,1.0,7.976464,0.108845,148.780669,146.166503,-54.484475,-43.599943
2019-05-07,150.40,2019-05-07,4.78,4.1500,1.0,7.866109,0.110372,148.346687,146.146871,-43.562923,-32.525689
2019-05-08,150.96,2019-05-08,4.78,4.1500,1.0,7.895397,0.109963,147.793927,146.125235,-49.012824,-38.016534
2019-05-09,148.33,2019-05-09,0.00,4.1500,1.0,7.895397,0.111913,147.138273,146.101603,-29.839471,-18.648208
2019-05-10,144.43,2019-05-10,0.00,4.1500,1.0,7.895397,0.114935,146.405017,146.076001,21.803120,33.296577
2019-05-13,141.28,2019-05-13,0.00,4.1500,1.0,7.895397,0.117497,145.625836,146.048457,125.872679,137.622396
2019-05-14,142.32,2019-05-14,0.00,4.1500,1.0,7.895397,0.116639,144.834638,146.018980,95.699964,107.363820
2019-05-15,139.10,2019-05-15,0.00,4.1500,1.0,7.895397,0.119339,144.063239,145.987595,315.338657,327.272518
2019-05-16,140.09,2019-05-16,0.00,4.1500,1.0,7.895397,0.118495,143.337870,145.954354,273.551577,285.401103
2019-05-17,140.64,2019-05-17,0.00,4.1500,1.0,7.895397,0.118032,142.677114,145.919309,269.343295,281.146481
2019-05-21,140.87,2019-05-21,0.00,4.1500,1.0,7.895397,0.117839,142.091394,145.882480,698.944610,710.728524
2019-05-22,139.29,2019-05-22,0.00,4.1500,1.0,7.895397,0.119176,141.583848,145.843951,2659.694434,2671.612016
2019-05-23,138.74,2019-05-23,0.00,4.1500,1.0,7.895397,0.119648,141.151906,145.803765,8977.657398,8989.622225
2019-05-24,138.60,2019-05-24,0.00,4.1500,1.0,7.895397,0.119769,140.789230,145.761977,46033.266746,46045.243658